{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>P3 Coloring</title>

	  <!-- credit to https://github.com/js-cookie/js-cookie for the js cookie api for handling cookies -->
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/js.cookie.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

		<style type="text/css">
         #grid {
             display: flex;
             justify-content: center;
         }
		 #color-palette {
			 background-color: #f1f1f1;
			 display: flex;
			 flex-wrap: wrap;
			 position: absolute;
			 top: 0;
			 /* left: calc(50% - 200px); */
		 }

		 #sub-color-palette {
			 /* min-width: 500px; */
			 background-color: #f1f1f1;
			 display: flex;
			 flex-wrap: wrap;
			 position: absolute;
			 top: 56px;
			 /* left: calc(50% - 200px); */
		 }
		 .swatch {
			 width: 50px;
			 height: 50px;
			 -moz-border-radius: 25px;
			 -webkit-border-radius: 25px;
			 border-radius: 25px;
			 margin: 3px;
		 }

		 .sub-swatch {
			 width: 30px;
			 height: 30px;
			 -moz-border-radius: 25px;
			 -webkit-border-radius: 25px;
			 border-radius: 25px;
			 margin: 3px;
		 }
		 #myCanvas {
			 padding-left: 0;
			 padding-right: 0;
			 margin-left: auto;
			 margin-right: auto;
			 display: block;
		 }
		</style>

		<script type="text/javascript" canvas="canvas">
		 window.onload = function() {
			 var canvas = document.getElementById('myCanvas');

			 // coloring page
			 var mandala = {
				 item: null,
				 lastClicked: null,
				 filePath: '/static/coloring/images/mandala-freepik.svg'
			 };

			 // color palette
			 // var cp = {
			 // 				history: ["#000000"], // black selected by default
			 // 				options: [],
			 // 				$container: $('#color-palette')
			 // 			}

			 // options stores the main colors
			 // subcolors is a dictionary, the keys are main colors like red, blue, etc.
			 // the values are lists of subcolors for that colors
			 var cp = {
				 history: ["#000000"], // black selected by default
				 options: ["red", "green", "purple"],
				 subcolors: {},
				 $container: $('#color-palette'),
				 $subContainer: $('#sub-color-palette')
			 }
             // read cookie data to get colors
             // cp.options = Cookies.get('userPalettes').concat(",").split("),");
             // for (var i = 0; i < cp.options.length - 1; i++) {
             //     cp.options[i] = cp.options[i].concat(")");
             // }
             // cp.options.pop();
             // console.log(cp.options);
             cp.options = Cookies.get('userPalettes').split(",");
             console.log(cp.options);
			 function myCustomInteraction() {
				 var tool = new paper.Tool();

				 tool.onMouseDown = function (event) {
					 var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
					 if (hit) {
						 // Color pallette keeps track of the full history of colors, though we
						 // only color in with the most-recent color.
						 hit.item.fillColor = cp.history[cp.history.length - 1];
					 }
				 }
			 }

			 // create a color palette with the given colors
			//  function createColorPalette(colors){

			// 	 // create a swatch for each color
			// 	 for (var i = colors.length - 1; i >= 0; i--) {
			// 		 var $swatch = $("<div>").css("background-color", colors[i])
			// 								 .addClass("swatch");
			// 		 $swatch.click(function(){
			// 			 // add color to the color palette history
			// 			 cp.history.push($(this).css("background-color"));
			// 		 });
			// 		 cp.$container.append($swatch);
			// 	 }
			//  }

			 // loads a set of colors from a json to create a color palette
			//  function getColorsCreatePalette(){
			// 	 cp.$container.html(" ");
			// 	 $.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
			// 		 var keys = Object.keys(colors);
			// 		 for (var i = keys.length - 1; i >= 0; i--) {
			// 			 cp.options.push(colors[keys[i]][500]);
			// 		 }
			// 		 createColorPalette(cp.options);
			// 	 });
			//  }

			 // Create the main color palette circles
			 function myCreateMainPalette(colors){
				 for (const c of colors) {
					 var $swatch = $("<div>").css("background-color", cp.subcolors[c][5])
											 .addClass("swatch");
					 $swatch.click(function(){
						 // add color to the color palette history
						 cp.history.push($(this).css("background-color"));
						 // Create the sub color palette circles
						 myCreateSubPalette(c);
					 });
					 cp.$container.append($swatch);
				 }
			 }
			 // Create the sub color palette circles
			 function myCreateSubPalette(color){
				 cp.$subContainer.html(" ");
				 for (const s of cp.subcolors[color]) {
					 var $swatch = $("<div>").css("background-color", s)
											 .addClass("sub-swatch");
					 $swatch.click(function(){
						 // add color to the color palette history
						 cp.history.push($(this).css("background-color"));
					 });
					 cp.$subContainer.append($swatch);
				 }
			 }
			 // loads subcolors from color palette
			 function myGetColorsFromJSON(){
				 cp.$container.html(" ");
				 $.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					 var keys = Object.keys(colors);
					 for (const c of cp.options) {
						 cp.subcolors[c] = Object.values(colors[c]);
					 }
					 myCreateMainPalette(cp.options);
				 });
			 }

			 function init(custom){
				 paper.setup(canvas);
				 myGetColorsFromJSON();
				 paper.project.importSVG(mandala.filePath, function(item) {
					 mandala.item = item._children["design-freepik"];
					 paper.project.insertLayer(0,mandala.item);

					 if (custom) {
						 myCustomInteraction();
					 } else {
						 myGradientInteraction();
					 }

				 });
			 }

			 // Set up the mandala interactivity.
			 init(true);
		 }
		</script>
	</head>
	<body>
		<canvas id="myCanvas" width="750px" height="750px"></canvas>
        <div id="grid">
		<div id="color-palette"></div>
		<div id="sub-color-palette"></div>
        </div>
	</body>
</html>
