{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
    
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-select {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}

	</style>

	<script type="text/javascript" canvas="canvas">
        $(document).ready(() => {
            
            // add border when clicking on color palettes. 
            $('.red').on('click', () => {
                $('.red').addClass("border")
            })
            $('.orange').on('click', () => {
                $('.orange').addClass("border")
            })
            $('.yellow').on('click', () => {
                $('.yellow').addClass("border")
            })
            $('.beige').on('click', () => {
                $('.beige').addClass("border")
            })
            $('.blue').on('click', () => {
                $('.blue').addClass("border")
            })
            $('.purple').on('click', () => {
                $('.purple').addClass("border")
            })
            $('.midnight').on('click', () => {
                $('.midnight').addClass("border")
            })
            $('.green').on('click', () => {
                $('.green').addClass("border")
            })
            $('.black').on('click', () => {
                $('.black').addClass("border")
            })
            $('.pastel').on('click', () => {
                $('.pastel').addClass("border")
            })
            $('.brown').on('click', () => {
                $('.brown').addClass("border")
            })
            $('.grey').on('click', () => {
                $('.grey').addClass("border")
            })

        });
	</script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<center><h1>Choose your color palettes</h1></center>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="shape-container">
                    <!--color palettes mock up  -->
					<div class="single-palette red"></div>
					<div class="single-palette orange"></div>
					<div class="single-palette yellow"></div>
					<div class="single-palette beige"></div>
					<div class="single-palette blue"></div>
					<div class="single-palette purple"></div>
					<div class="single-palette midnight"></div>
					<div class="single-palette green"></div>
                    <div class="single-palette black"></div>
                    <div class="single-palette pastel"></div>
                    <div class="single-palette brown"></div>
                    <div class="single-palette brown"></div>

                    <!-- next button -->
                   <a href="demo"><img id="next" src="{% static 'img/next.png' %}" style="max-width: 10%"></a> 
                   
                    
				</div>
			</div>
		</div>

	</div>

</body>

</html>
